<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>你猜我猜</title>

<script type="text/javascript" src="__PUBLIC__/Index/js/jquery-1.8.3.min.js" ></script>
<script type="text/javascript" src="__PUBLIC__/Index/js/index.js" ></script>
<script type="text/javascript" src="__PUBLIC__/Index/js/bootstrap.js" ></script>

<link href="__PUBLIC__/Index/css/index.css" rel="stylesheet" type="text/css" />
<link href="__PUBLIC__/Index/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
<link href="__PUBLIC__/Index/css/bootstrap-theme.css" rel="stylesheet" type="text/css" />
</head>

<body>
	<div id="header">
	    <div class="page-header">
			  	<h1>猜歌管理系统 <small>滨滨和泓泓</small></h1>
		</div>
    </div>
    
	<div id="message">
        <ul class="nav nav-pills nav nav-tabs nav-justified">
		  <li role="presentation"><a href="{:U("IndexPage/indexpage")}">首页</a></li>
		  <li role="presentation"  class="active"><a href="{:U("ManageSong/ManageSong")}">歌曲管理</a></li>
		  <li role="presentation"><a href="{:U("ManageUser/ManageUser")}">会员管理</a></li>
		  <li role="presentation"><a href="{:U("Index/index")}">退出登录</a></li>
		</ul>
    </div>
	
    <div id="left">
    	<div class="panel panel-default">
			  <div class="panel-heading">管理员</div>
			  <div class="panel-body">
			    	<div class="goods-message">
				        <span class="add-goods">+</span>　歌曲管理
				        	<ul class="hide-goods">
				            <li><a href="{:U("Search/Search")}">查看歌曲</a></li>
				            <li><a href="{:U("Update/update")}">修改歌曲</a></li>
				            <li><a href="{:U("Add/add")}">新增歌曲</a></li>
				            <li><a href="{:U("Delete/delete")}">删除歌曲</a></li>
				              <li><a href="{:U("Download/download")}">测试传入数据</a></li>
				            </ul>
        			</div>
			  </div>
		</div>
    </div><!-- end of left -->

    <div id="right">
    	<div class="panel panel-default">
			  <div class="panel-heading">歌曲管理</div>
			  <div class="panel-body">
			    <div class="jumbotron">
				  <h1>用力修改我吧</h1>
				  <p>Boom~~~~sha ka la ka</p>
				  
				</div>
			  </div>
		</div>

    </div><!-- end of right -->





</body>
</html>